[submodule "External/DirectXShaderCompiler"]
	path = External/DirectXShaderCompiler
	url = https://github.com/Microsoft/DirectXShaderCompiler
[submodule "Extern/stb"]
	path = Extern/stb
	url = https://github.com/nothings/stb
	branch = master
